<html>
<body>
	<form action="/create" method="post" enctype="multipart/form-data">
		Restaurant name: <input type="text" name="restname"><br>
		Borough: <input type="text" name="Borough"><br>
		Cuisine: <input type="text" name="Cuisine"><br>
		
		Adress:<br>
		Street: <input type="text" name="street"><br>
		Building: <input type="text" name="building"><br>
		Zipcode: <input type="text" name="zipcode"><br>
		Coord:[latitude: <input type="text" name="latitude">, longitude: <input type="text" name="longitude">]<br>
		
	<!--photo: <input type="file" name="filetoupload"><br>-->

		<input type="submit" value="Create">
	</form>
</body>
</html>
